.console_setting_row{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.red_button {
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ffa0a0), color-stop(0.06, #fc4040), to(#b80804));
    border-color: #cd1916;
    border-bottom-color: #800300;
    text-shadow:0 1px 2px #800300;
    color:white;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    display: block;
    width: 98%;
    margin-left: 1%;
    height: auto;
}

.red_button.mblButtonSelected{
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#d26664), color-stop(0.06, #b70602), to(#fb3e3e));
    border-color: #cd1916;
    border-bottom-color: #800300;
    text-shadow:0 1px 2px #800300;
    color:white;
}